{{>header}}

<div class="container mt-3">
  <h1 class="alert alert-success">
      Bienvenido {{usuario.nombre}} ! 
      <span class="fs-1">{{usuario.email}}</span>
          <button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">
              Desloguear
          </button>
  </h1>
</div>

{{#if usuario.admin}}
<h3 class="pb-4">Agregar un producto</h3>
  <form action="/api/productos" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" aria-describedby="nombre" name="nombre">
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripci칩n</label>
      <input type="text" class="form-control" id="descripcion" aria-describedby="descripcion" name="descripcion">
    </div>
      <div class="mb-3 row">
        <div class="col">
          <label for="codigo" class="form-label">C칩digo</label>
          <input type="number" class="form-control" id="codigo" aria-describedby="codigo" name="codigo">  
        </div>
      <div class="col">
        <label for="precio" class="form-label">Precio</label>
        <input type="number" class="form-control" id="precio" name="precio">
      </div>
      <div class="col">
        <label for="stock" class="form-label">Stock</label>
        <input type="number" class="form-control" id="stock" name="stock">
      </div>
    </div>
    <div class="mb-3">
        <label for="upload" class="form-label">Imagen</label>
      <input type="file" class="form-control" id="upload" name="file">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

  {{#if listaProductos.length}}
  <h3>Producto guardado!</h3>
  <h2>Lista de Productos</h2>
  <div class="table-responsive">
      <table class="table table-dark">
          <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Foto</th>
          </tr>
          {{!-- Recorrer productos para mostrar en la tabla --}}
          {{#each listaProductos}}
          <tr>
              <td>{{this.nombre}}</td>
              <td>{{this.precio}}</td>
              <td><img src=..{{this.thumbnail}} class="smallImg"></td>
          </tr>
          {{/each}}
        
      </table>
  </div>
  {{/if}}
{{/if}}

<div class="container mt-3">

<div class="jumbotron">
  <h1>Centro de Mensajes</h1>
  <br>

  <input type="email" id="inputEmail" class="form-control w-50 my-2 mr-2" placeholder="Ingres치 tu email">

  <hr>

  <form id="formPublicarMensaje" class="form-inline" autocomplete="off">
      <div class="form-group">
          <input disabled id="inputMensaje" type="text" class="form-control my-2 mr-2"
              placeholder="Ingres치 un mensaje...">
          <button disabled id="btnEnviar" type="submit" class="btn btn-primary my-2">Enviar!</button>
      </div>
  </form>

  <div id="mensajes"></div>
</div>
</div>

{{>footer}}